/* import poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-shade: #A29C9C;
  --primary-color: #414141;

}

body {
  background-color: rgba(217, 217, 217, 0.2);
  font-family: 'Poppins', sans-serif;


}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--grey-shade);
}

img {
  width: 100%;
  display: block;
}

.layout {
  width: 80%;
  margin: 0px auto;


}


Header {

  padding: 1em;


}

.navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  align-items: center;
}

.logo {
  font-size: 1.1rem;
  font-family: cursive;
  font-weight: bold;
  color: var(--primary-color);
}
.logo Link{
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 4em;

}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

/* main  */
main {
  height: 80vh;
  margin: 1em;
  margin: auto;
  padding: 1em;
  display: flex;
  justify-content: center;




}

.main-content {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;

}

@media screen and (max-width: 1000px) {
  .right-section img {
    display: none;
  }
}



.left-section {
  display: flex;
  flex-direction: column;
  gap: 1em;

  align-items: center;
}

.left-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 70%;
  color: #414141;
}

.left-section p {
  font-size: 1.1rem;
  font-weight: 400;
  width: 70%;
  color: var(--grey-shade);
}

.left-section .button {
  text-align: start;
  width: 80%;
  padding-left: 2em;


}

.left-section button {

  padding: 0.7em;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5em;
  width: 150px;

  background: #5956E9;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.left-section button:hover {
  background: #2f00ff;
  color: #ffffff;
}

.right-section img {
  width: 300px;
  height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;


}

/* Login */
.left-section form input {
  background: rgba(126, 209, 245, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0.8em;
  width: 368px;
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--grey-shade);
}

.left-section form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

}